$theme-base: #0084ff;

$theme-base-1: scale-color($theme-base, $lightness: -10%);
$theme-base-2: scale-color($theme-base, $lightness: -20%);
$theme-base-3: scale-color($theme-base, $lightness: -30%);
$theme-base-4: scale-color($theme-base, $lightness: -40%);
$theme-base-5: scale-color($theme-base, $lightness: -50%);
$theme-base-6: scale-color($theme-base, $lightness: -60%);

@keyframes animateIn {
    0% {
        opacity: 0;
        //transform: scale(0.6) translateY(-8px);
    }

    100% {
        opacity: 1;
    }
}

#locationInfo {
    background: $theme-base;
    --animation-order: 1;
}

#currentConditions {
    background: linear-gradient(scale-color($theme-base, $lightness: +20%), $theme-base);
    --animation-order: 2;
}

#windSpeed {
    background: linear-gradient($theme-base-2, $theme-base-3);
    --animation-order: 3;
}

#dewPoint {
    background: linear-gradient($theme-base-4, $theme-base-5);
    --animation-order: 4;
}

#cloudCover {
    background: linear-gradient($theme-base-3, $theme-base-4);
    --animation-order: 5;
}

#visibility {
    background: linear-gradient($theme-base-1, $theme-base-2);
    --animation-order: 6;
}

#pressure {
    background: linear-gradient($theme-base-3, $theme-base-4);
    --animation-order: 7;
}

#temperature {
    background: linear-gradient($theme-base-2, $theme-base-3);
    --animation-order: 8;
}

#uvIndex {
    background: linear-gradient($theme-base-5, $theme-base-6);
    --animation-order: 9;
}

#relativeHumidity {
    background: linear-gradient($theme-base-4, $theme-base-5);
    --animation-order: 10;
}

#windDirection {
    background: linear-gradient($theme-base-2, $theme-base-3);
    --animation-order: 11;
}

#pastPrecipitation {
    background: linear-gradient($theme-base, $theme-base-1);
    --animation-order: 12;
}

#windChill {
    background: linear-gradient($theme-base-1, $theme-base-2);
    --animation-order: 13;
}

#locationInfo, #currentConditions, #windSpeed, #dewPoint, #cloudCover, #visibility, #pressure, #temperature, #uvIndex, #relativeHumidity, #windDirection, #pastPrecipitation, #windChill {
    color: white;
    animation-name: animateIn;
    animation-duration: 350ms;
    animation-delay: calc(var(--animation-order) * 100ms);
    animation-fill-mode: both;
    animation-timing-function: ease-in-out;
}